{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "pwd",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "pwd"
        } ]
      },
      "classPath" : [ ]
    },
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "http://localhost:8080/admin"
  },
  "/game" : {
    "path" : "/game",
    "name" : "Game",
    "enabled" : true,
    "webHomeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      },
      "securityContextPerTab" : false
    },
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "maxClients" : 1,
    "maxClientsPerUser" : -1,
    "allowStealSession" : true,
    "autoLogout" : true,
    "monitorEdtEnabled" : true,
    "loadingAnimationDelay" : 2,
    "recordingAllowed" : true,
    "recordingConsentRequired" : false,
    "mirroringAllowed" : true,
    "mirroringConsentRequired" : false,
    "uploadMaxSize" : 5,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { },
      "directTransfer" : false
    },
    "restUsers" : [ ],
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : false,
      "homeDir" : "${webswing.rootDir}/apps/Game",
      "theme" : "Murrine",
      "directdraw" : false,
      "latencyOptimizedRendering" : true,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "main.MainClass"
      },
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : false,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "ALL",
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "fontConfig" : { },
      "jsLinkWhitelist" : [ "*" ],
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "transparentFileOpen" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "transparentFileSave" : true,
      "transferDir" : "${user}/upload",
      "clearTransferDir" : true,
      "classPathEntries" : [ "2D-Platformer-BMSTU-1.0-SNAPSHOT.jar" ]
    }
  }
}